html {
  background-image: url('/Images/1Header.png');
  background-size: auto;
  background-position: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  font-family: 'Titillium Web', sans-serif;
  font-size: x-large;
  font-weight: 500;
  font-style: normal;
  background-image: url('/Images/Header1.png');
  background-size: 80%;

  color: #fff;
  padding: 5px;
  text-align: center;
}

.name-container {
  display: flex;
  flex-direction: row; /* Подреждане на елементите в ред (хоризонтално) */

  flex-wrap: wrap; /* Ако екранът е твърде тесен, елементите ще се подредят един под друг */
  padding: 1px; /* Допълнително разстояние около контейнера */
}
.name-container img {
  margin-left: 100px;
  margin-top: 10px;
  max-width: 100%; /* Прави изображенията responsive */
  height: auto; /* Автоматично определяне на височината за запазване на пропорциите */
  width: 160px; /* Примерна фиксирана ширина, можеш да я настроиш */
  border-radius: 50%; /* Закръглени ръбове на снимките */
}

@media (max-width: 768px) {
  .name-container,
  .social-icons {
    flex-direction: column; /* Подреждане вертикално на малки екрани */
  }

  .name-container img {
    width: 100px; /* Намаляване на размера на изображенията за по-малки екрани */
  }

  .name-container h1 {
    font-size: 1.5rem; /* Намаляване на размера на текста за по-малки екрани */
  }
}

.sections {
  margin-top: 20px;
}

.section-link {
  display: inline-block;
  margin: 0 20px;

  cursor: pointer;
  color: #ffffff;
}

.section-link:hover {
  text-decoration: underline;
}

.content {
  padding: 100px;

  background-image: url('/Images/4.png');
}

.skills-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.skill {
  margin-bottom: 15px;
}

.skill-bar {
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 30px;
}

.skill-level {
  height: 100%;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background-color: #487b80;
}

.education-list,
.experience-list,
.projects-list {
  list-style: none;
  padding: 0;
}

.education-list li,
.experience-list li,
.projects-list .project {
  margin-bottom: 20px;
}

.education-list li span,
.experience-list li span {
  display: block;
  font-weight: bold;
}

.projects-list .project img {
  max-width: 100px;
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1b256b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
