.contact-form-container {
  max-width: 40vw;
  margin: 0 auto;
  background-image: url('/Images/3Ligh.png');
  background-position: center;
  padding: 2vw;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.3vw;
  margin: 1vw;

  padding: 1%;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: auto;
  padding: 0.5vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.2vw;
}

.form-group textarea {
  height: 10vw;
  resize: vertical;
}

button {
  margin-top: 1%;
  padding: 0.5vh 3vw;
  font-size: 1.5vw;
  width: auto;
  max-width: 100%;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.social-icons-contact {
  display: flex;
  margin: 5px;

  justify-content: center;
}
.social-icons-contact a {
  margin: 30px;
  text-decoration: none;
  color: #0f0a37;
}
.email-contact {
  text-align: center;
  font-size: 22px;
}
