.header {
  font-family: 'Titillium Web', sans-serif;

  font-weight: 500;
  font-style: normal;
  background-image: url('/Images/Header1.png');
  background-size: 80%;

  color: #fff;
  padding: 0;
  text-align: center;
}

.name-container {
  display: flex;
  flex-direction: row; /* Подреждане на елементите в ред (хоризонтално) */

  flex-wrap: wrap; /* Ако екранът е твърде тесен, елементите ще се подредят един под друг */
  padding: 0.5%; /* Допълнително разстояние около контейнера */
}
.name-container img {
  margin-left: 100px;
  margin-top: 10px;
  max-width: 100%; /* Прави изображенията responsive */
  height: auto; /* Автоматично определяне на височината за запазване на пропорциите */
  width: 10vw; /* Примерна фиксирана ширина, можеш да я настроиш */
  border-radius: 50%; /* Закръглени ръбове на снимките */
}

.sections {
  display: flex;
  justify-content: center;

  align-items: center;

  text-align: center;
}

.section-link {
  max-width: 100%;
  margin: 0 20px;
  font-size: 1.5vw;
  cursor: pointer;
  color: #ffffff;
}

.section-link:hover {
  text-decoration: underline;
}
