.home-content {
  display: flex;
  flex-direction: column;
  background-image: url('/Images/City\ .png');
  background-size: contain;
  max-width: 80vw;
  margin: auto;
  padding: 1vw;
  border: 0.5vw #260641;
  border-radius: 2%;
}

.text-info-home {
  font-size: 1.2vw;
  text-align: center;
  margin: 1vw;
  margin-top: 2%;
  padding: 1%;
  box-shadow: 0 2px 5px rgba(53, 52, 52, 0.1); /* Лека сянка за ефект */
}
.social-icons,
.social-icons-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a,
.social-icons-contact а {
  margin: 2vw; /* Малко разстояние между иконите */
  max-width: 100%;
  color: #1f1946;
}
.social-icons i,
.social-icons-contact i {
  font-size: 2vw; /* Размер на шрифта, равен на 4% от ширината на прозореца */
  transition: font-size 0.3s ease; /* Плавен преход при промяна на размера */
}
