.home-content {
  background-image: url('/Images/City\ .png');
  background-size: contain;
  max-width: max-content;
  margin: auto;
  padding: 50px;
}

.text-info-home {
  text-align: center;
  margin: 100px;
  margin-top: 10px;
  padding: 10px;
  text-shadow: 5px;

  border: 3px solid #260641;
  border-radius: 10px;
}

.social-icons {
  display: flex;
  margin: 50px;

  justify-content: center;
}
.social-icons a {
  margin: 50px;
  text-decoration: none;
  color: #0f0a37;
}
