.home-content {
  display: flex;
  flex-direction: column;
  background-image: url('/Images/Silk\ backround.png');
  background-position: bottom;
  max-width: 58vw;
  margin: auto;
  margin-top: 5vw;
  padding: 1vw;
  border: 0.5vw #260641;
  border-radius: 2vw;
}

.text-info-home {
  font-size: 1.2vw;
  text-align: justify;
  margin: 1vw;
  margin-top: 1vw;
  padding: 1%;
  box-shadow: 0 2px 5px rgba(53, 52, 52, 0.1); /* Лека сянка за ефект */
}
