html {
  height: 100%;
}

body {
  font-size: 1rem; /* Default font size for desktops */
  background-image: url('/Images/1Header.png');
  height: 100%;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2,
.project-container h3 {
  font-size: 2vw;
  text-align: center;

  color: #024f7b;
  margin: 1.5vw;
}
p {
  font-size: 1vw;
  text-align: center;

  color: #0a0f35;
}
.content {
  min-height: 100vh; /* 100% от височината на екрана */
  padding: 5vw;
  background-image: url('/Images/Background\ content\ \ \ .png');
  background-size: auto;
}

.experience-list {
  list-style: none;
  padding: 0;
}

.experience-list li {
  margin-bottom: 20px;
}

.education-list li span,
.experience-list li span {
  display: block;
  font-weight: bold;
}
