html {
  background-image: url('/Images/1Header.png');
  background-size: auto;
  background-position: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2vw;
  text-align: center;
  text-decoration: underline;
  color: #024f7b;
  margin: 1.5vw;
}
p {
  font-size: 1vw;
  text-align: center;

  color: #000000;
}
.content {
  padding: 4vw;

  background-image: url('/Images/4.png');
  background-size: auto;
}

.experience-list {
  list-style: none;
  padding: 0;
}

.experience-list li {
  margin-bottom: 20px;
}

.education-list li span,
.experience-list li span {
  display: block;
  font-weight: bold;
}
