#projects {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  margin: 0 auto;
  max-width: 60vw;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  margin: 2vw auto;
  background-image: url('/Images/City\ .png');
  background-position: bottom;
  border: 1px solid #ccc;
  border-radius: 1.5vw;
  padding: 1vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.video-wrapper video {
  width: 100%;
  height: auto; /* Запазва пропорциите на видеото */
}

.responsive-btn {
  margin-top: 3%;
  background-color: #0c2643;
  padding: 0.5vh 3vw;
  font-size: 1.5vw;
  width: auto;
  max-width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.responsive-btn:hover {
  background-color: #194271;
}
.video-wrapper a {
  color: #1f4775;
  display: inline-block;
  width: 100%;
  text-align: end;
}
