@media screen and (max-width: 768px) {
  .content h2,
  .section-link {
    font-size: 2.4vw; /* Make headers larger */
  }

  .contact-form-container h3 {
    font-size: 2.2vw; /* Make headers larger */
  }

  p,
  .content p,
  .content ul,
  .email-contact p,
  .text-info-home,
  .form-group input,
  .form-group textarea {
    font-size: 1.7vw; /* Increase paragraph text size */
  }

  .skill-level,
  .form-group label {
    font-size: 1.8vw; /* Increase font size */
  }

  .skill {
    width: 100%; /* Ensure full width on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .content h2,
  .section-link {
    font-size: 2.5vw; /* Make headers larger */
  }

  p,
  .content p,
  .content ul,
  .email-contact p,
  .text-info-home,
  .form-group input,
  .form-group textarea {
    font-size: 2.2vw; /* Increase paragraph text size */
  }
  .skill-level,
  .form-group label {
    font-size: 2vw; /* Increase font size */

    .skills-box {
      width: 100%;
      max-width: 60vw;
      height: auto;
      font-size: 2vw;
    }
  }
}
.video-wrapper a,
.education-list,
.company {
  font-size: 1.2vw;
  margin: 1vw;
  margin-top: 2%;
  padding: 1%;
}
