@media (max-width: 768px) {
  .sections {
  }

  .section-link {
    width: 100%; /* Ширина  да бъде 100% от контейнера */
    max-width: 300px; /* Максимална ширина на бутоните */
  }
}

@media (max-width: 320px) {
  .sections {
    display: flex;
    flex-wrap: wrap;
  }
  .section-link {
    font-size: 3vw; /* По-голям шрифт на много малки екрани */
    transition: font-size 0.3s ease; /* Добавяне на плавна промяна при resize */
  }
}
.education-list {
  font-size: 1.2vw;

  margin: 1vw;
  margin-top: 2%;
  padding: 1%;
  box-shadow: 0 2px 5px rgba(53, 52, 52, 0.1); /* Лека сянка за ефект */
}
