.skills-title {
  margin-bottom: 5vw;
}

.skills-box {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  margin: 0 auto;
  padding: 3vw;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-image: url('/Images/City\ .png');
  background-position: top;
}

.skill {
  margin-bottom: 2vw;
  width: 100%;
}

.skill-bar {
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;

  height: 2vw;
}

.skill-level {
  font-size: 1.2vw;
  color: #fff;
  text-align: center;
  background-color: #4f778a;
}
